[submodule "runners/blitzen-develop"]
	path = runners/blitzen-develop
	url = https://github.com/mwaddip/santa-blitzen
	branch = develop
[submodule "runners/blitzen-eni"]
	path = runners/blitzen-eni
	url = https://github.com/mwaddip/santa-blitzen
	branch = eni
[submodule "runners/comet"]
	path = runners/comet
	url = git@github.com:mwaddip/santa-comet.git
[submodule "runners/vixen"]
	path = runners/vixen
	url = https://github.com/mwaddip/santa-vixen
	branch = master
