[submodule "runners/blitzen-develop"]
	path = runners/blitzen-develop
	url = https://github.com/mwaddip/santa-blitzen
	branch = develop
[submodule "runners/blitzen-eni"]
	path = runners/blitzen-eni
	url = https://github.com/mwaddip/santa-blitzen
	branch = eni
